body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  font-size: 20px;
  color: white;
  height: 250px;
  width: 350px;
  border-radius: 10px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 150px
}

button {
  height: 30px;
  width: auto;
  background: white;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid black;
}

