.buttonYes {
	background-color: green;
	color: white;
	height: 30px;
	margin: 30px;
	border-radius: 10px;
}

.buttonNo {
	background-color: red;
	color: white;
	height: 30px;
	margin: 30px;
	border-radius: 10px;
}

.container {
	text-align: center;
}
